@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&subset=latin-ext');
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-ExtraLight.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-ExtraLight.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-Light.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-Regular.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-Medium.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-SemiBold.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-Bold.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Serif CJK KR';
  src: local(※),
  url('/kakatex/fonts/NotoSerifKR-Black.woff') format('woff'),
  url('/kakatex/fonts/NotoSerifKR-Black.otf') format('opentype');
  font-weight: 900;
}

body {
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Noto Serif', 'Noto Serif CJK KR', serif;
  margin: 0;
}
.slanted {
  font-family: 'Noto Serif CJK KR', serif!important;
  font-style: oblique;
  margin-right: .15em;
}
.serif {
  font-family: 'Noto Serif', 'Noto Serif CJK KR', serif!important;
}
.sans {
  font-family: 'Noto Sans', 'Noto Sans CJK KR', sans-serif!important;
}
code {
  background: #e7e7e8;
  border-radius: .4em;
  padding: .1em .3em;
  font-size: 1.1em;
}

body.dark {
  background: #1b1b1b;
}

body.dark code {
  background: #444548;
}

.resizable {
  background: white;
  width: 300px;
  max-width: calc(100vw - 16px);
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgb(20, 20, 20);
  box-shadow: 0 10px 26px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.resizable .resizers .resizer {
  width: 32px;
  height: 32px;
  background: transparent;
  position: absolute;
}
.resizable .resizers .resizer.bottom-left {
  left: -10px;
  bottom: -10px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -10px;
  bottom: -10px;
  cursor: nwse-resize;
}

#contents {
  position: relative;
  width: 100%;
  max-height: calc(100% - 2.4em);
  padding: 1.2em 1.8em;
  overflow-y: auto;
  transition: color cubic-bezier(0.215, 0.610, 0.355, 1),
  background-color cubic-bezier(0.215, 0.610, 0.355, 1);
  border-radius: 8px;
  line-height: 1.6;
}

#contents h1 {
  line-height: 1.2;
}
#contents h2 {
  line-height: 1.2;
}
#contents h3 {
  line-height: 1.3;
}

#contents p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

#editor {
  width: calc(100% - 4em);
  margin: 1.4em 2em;
  height: 200px;
  border-radius: 8px;
  resize: vertical;
  box-shadow: 0 5px 12px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

#bottom-div {
  margin-top: 1.6em;
  display: flex;
}

.dark .resizable .resizers {
  background-color: #272727;
  color: white;
}

#logo {
  margin-top: 2em;
}

#logo img {
  width: 12em;
}

#moon path {
  fill: #aaa;
}

.dark #moon path {
  fill: #eee;
}

#kakao-link-btn > img {
  width: 4em;
  height: 4em;
  display: block;
}

#kakao-link-btn.exec > img {
  display: none;
}

#kakao-link-btn.exec {
  cursor: wait;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  position: relative;
  width: 4em;
  height: 4em;
  display: none;
}
#kakao-link-btn.exec .lds-ellipsis {
  display: inline-block;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #555;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.dark .lds-ellipsis div {
  background: #fff;
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
